{% block doctype %}
    {% set sfVersion = constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION')|split('.') %}

    {% trans_default_domain 'CoobixAdminBundle' %}
    <!DOCTYPE html>
    <html lang="{{ locale }}">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">
            <link rel="shortcut icon" href="{{ asset('bundles/coobixadmin/images/favicon.ico') }}">

            <title>{{ 'main.title'|trans }}</title>

            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/coobixcalendar/resources/css/calendar.css') }}" />

            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/coobixcalendar/resources/css/examples.css') }}" />

            <!-- GC -->

            <link rel="stylesheet" href="{{ asset('bundles/coobixcalendar/calendar/bootstrap.css') }}">
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
               
            <script type="text/javascript" src="{{ asset('bundles/coobixcalendar/calendar/ext/ext-all.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/coobixcalendar/calendar/ext/locale/ext-lang-es.js') }}"></script>


            <script type="text/javascript">
                
                Ext.Loader.setConfig({
                    enabled: true,
                    paths: {
                        'Ext.calendar': '../../bundles/coobixcalendar/src',
                        'Calendar': '../../bundles/coobixcalendar/calendar/app',
                        'AppDesktop': '../../bundles/coobixcalendar/calendar/app/'
                    },
                    disableCaching: false
                });
                Ext.require([
                    //'Ext.diag.layout.Context',
                    //'Ext.diag.layout.ContextItem',
                    'Ext.calendar.App'
                ]);
                Ext.onReady(function () {
                    // launch the app:
                    Ext.create('Ext.calendar.App');

                    // update the header logo date:
                    document.getElementById('logo-body').innerHTML = new Date().getDate();
                });
            </script>

            {% block stylesheets %}
                {# Bootstrap core CSS #}
                <link href="{{ asset('bundles/coobixadmin/css/bootstrap/bootstrap-3.1.1-dist/css/bootstrap.min.css') }}" rel="stylesheet">
                {# Font Awesome #}
                <link rel="stylesheet" href="{{ asset('bundles/coobixadmin/fonts/font-awesome-4.4.0/css/font-awesome.min.css') }}">
                {# Custom styles for this template #}
                <link href="{{ asset('bundles/coobixadmin/css/dashboard.css') }}" rel="stylesheet">

                <link href="{{ asset('bundles/coobixpager/css/layout.css') }}" rel="stylesheet">

            {% endblock stylesheets %}

            {% block javascripts %}
                <!-- Just for debugging purposes. Don't actually copy this line! -->
                <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

                <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
                <!--[if lt IE 9]>
                  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
                <![endif]-->
            {% endblock javascripts %}
        </head>

        <body>
            {% block body_content %}   

                {% block header %}                 
                    {% include 'CoobixAdminBundle:Admin:header.html.twig' %}
                {% endblock header %}

                {% block sidebar %}                 
                    {% include 'CoobixAdminBundle:Admin:sidebar.html.twig' %}
                {% endblock sidebar %}

                {# Columna central #}
                {% block main_column %}
                    <div  class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                        {% block alerts %}

                        {% endblock alerts %}

                        
                        
                        
                        <div id="calendar-ct"  ></div>
                            {% block main_content %}
                            <div style="display:none;">
                                
                                <div id="app-header-content">
                                    <div id="app-logo">
                                        <div class="logo-top">&nbsp;</div>
                                        <div id="logo-body">&nbsp;</div>
                                        <div class="logo-bottom">&nbsp;</div>
                                    </div>
                                    <h1>Calendario</h1>
                                    <span id="app-msg" class="x-hidden"></span>
                                </div>
                            </div>
                            

                        {% endblock main_content %}
                    

                <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">

                                <h4 class="modal-title" id="myModalLabel">Su sesión ha caducado</h4>
                            </div>
                            <div class="modal-body">
                                <div id="formCont">

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" id="closeLoginModalBtn" >Cerrar</button>
                                <button type="button" class="btn btn-primary" id="goLoginModalBtn">Entrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" >Crear</h4>
                            </div>
                            <div class="modal-body">
                                <div id="formWrapper">

                                </div>
                                <br>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" id="closeBtnModal">Cerrar</button>
                                {# <button type="button" class="btn btn-primary goLoginModalBtn" >Crear</button>#}
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock main_column %}

                {% block foot_javascripts %}
                    <!-- Bootstrap core JavaScript
                    ================================================== -->
                    <!-- Placed at the end of the document so the pages load faster -->
                    {#
                    <script src="{{ asset('bundles/coobixadmin/js/jquery/jquery-1.11.1.min.js') }}"></script>
                    <script src="{{ asset('bundles/coobixadmin/js/bootstrap/bootstrap-3.1.1-dist/js/bootstrap.min.js') }}"></script>
                    <script src="{{ asset('bundles/coobixadmin/js/bootboxjs/bootbox.min.js') }}"></script>
                    <script type="text/javascript" src="{{ asset('bundles/coobixadmin/js/dashboard.js') }}"></script>
                    <script type="text/javascript" src="{{ asset('bundles/coobixuser/js/user.js') }}"></script>
                    #}

                     {% endblock foot_javascripts %}



            {% endblock body_content %}



        </body>
    </html>
{% endblock doctype %}